/* Template: FlatBook | Author: eriktailor | Version: 1.0 */
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* # GREEN COLOR SKIN */
/*--------------------------------------------------------*/
p a, p a:visited {color: #3fbe73;}

h2 {color: #3fbe73;}

.menu li a:hover {color: #3fbe73;}

.btn {background: #3fbe73;}

.btn:hover {background: #26a85b;}

.btn.grey {color: #3fbe73;}

.btn.grey:hover {color: #3fbe73;}

.section-title {color: #3fbe73;}

.section-title-bullet {background: #3fbe73;}

#header {background: #3fbe73;}

.feature h2 {color: #3fbe73;}

.price-table h3 {background: #3fbe73;}

.contact-bar {background: #3fbe73;}

.social-icons i {color: #3fbe73;}

.social-icons i:hover {color: #1b954d;}

.slimScrollBar {background: #3fbe73 !important;}

.tablet-mockup-bg {background-color: #3fbe73 !important;}












