/* Template: FlatBook | Author: eriktailor | Version: 1.0 */
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* # LIME COLOR SKIN */
/*--------------------------------------------------------*/
p a, p a:visited {color: #9ccc3e;}

h2 {color: #9ccc3e;}

.menu li a:hover {color: #9ccc3e;}

.btn {background: #9ccc3e;}

.btn:hover {background: #7cab22;}

.btn.grey {color: #9ccc3e;}

.btn.grey:hover {color: #9ccc3e;}

.section-title {color: #9ccc3e;}

.section-title-bullet {background: #9ccc3e;}

#header {background: #9ccc3e;}

.feature h2 {color: #9ccc3e;}

.price-table h3 {background: #9ccc3e;}

.contact-bar {background: #9ccc3e;}

.social-icons i {color: #9ccc3e;}

.social-icons i:hover {color: #729f1b;}

.slimScrollBar {background: #9ccc3e !important;}

.tablet-mockup-bg {background-color: #9ccc3e !important;}












