/* Template: FlatBook | Author: eriktailor | Version: 1.0 */
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* # ORANGE COLOR SKIN */
/*--------------------------------------------------------*/
p a, p a:visited {color: #d35400;}

h2 {color: #d35400;}

.menu li a:hover {color: #d35400;}

.btn {background: #d35400;}

.btn:hover {background: #bf4d02;}

.btn.grey {color: #d35400;}

.btn.grey:hover {color: #d35400;}

.section-title {color: #d35400;}

.section-title-bullet {background: #d35400;}

#header {background: #d35400;}

.feature h2 {color: #d35400;}

.price-table h3 {background: #d35400;}

.contact-bar {background: #d35400;}

.social-icons i {color: #d35400;}

.social-icons i:hover {color: #ab4603;}

.slimScrollBar {background: #d35400 !important;}

.tablet-mockup-bg {background-color: #d35400 !important;}












