/* Template: FlatBook | Author: eriktailor | Version: 1.0 */
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* # ROYAL BLUE COLOR SKIN */
/*--------------------------------------------------------*/
p a, p a:visited {color: #507eb3;}

h2 {color: #507eb3;}

.menu li a:hover {color: #507eb3;}

.btn {background: #507eb3;}

.btn:hover {background: #406a9b;}

.btn.grey {color: #507eb3;}

.btn.grey:hover {color: #507eb3;}

.section-title {color: #507eb3;}

.section-title-bullet {background: #507eb3;}

#header {background: #507eb3;}

.feature h2 {color: #507eb3;}

.price-table h3 {background: #507eb3;}

.contact-bar {background: #507eb3;}

.social-icons i {color: #507eb3;}

.social-icons i:hover {color: #386191;}

.slimScrollBar {background: #507eb3 !important;}

.tablet-mockup-bg {background-color: #507eb3 !important;}












