/* Template: FlatBook | Author: eriktailor | Version: 1.0 */
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* # SALMON COLOR SKIN */
/*--------------------------------------------------------*/
p a, p a:visited {color: #d26a69;}

h2 {color: #d26a69;}

.menu li a:hover {color: #d26a69;}

.btn {background: #d26a69;}

.btn:hover {background: #c34948;}

.btn.grey {color: #d26a69;}

.btn.grey:hover {color: #d26a69;}

.section-title {color: #d26a69;}

.section-title-bullet {background: #d26a69;}

#header {background: #d26a69;}

.feature h2 {color: #d26a69;}

.price-table h3 {background: #d26a69;}

.contact-bar {background: #d26a69;}

.social-icons i {color: #d26a69;}

.social-icons i:hover {color: #c24d4c;}

.slimScrollBar {background: #d26a69 !important;}

.tablet-mockup-bg {background-color: #d26a69 !important;}












