/* Template: FlatBook | Author: eriktailor | Version: 1.0 */
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* # SKY BLUE COLOR SKIN */
/*--------------------------------------------------------*/
p a, p a:visited {color: #8bdef3;}

h2 {color: #8bdef3;}

.menu li a:hover {color: #8bdef3;}

.btn {background: #8bdef3;}

.btn:hover {background: #56b8d0;}

.btn.grey {color: #8bdef3;}

.btn.grey:hover {color: #8bdef3;}

.section-title {color: #8bdef3;}

.section-title-bullet {background: #8bdef3;}

#header {background: #8bdef3;}

.feature h2 {color: #8bdef3;}

.price-table h3 {background: #8bdef3;}

.contact-bar {background: #8bdef3;}

.social-icons i {color: #8bdef3;}

.social-icons i:hover {color: #44a4bc;}

.slimScrollBar {background: #8bdef3 !important;}

.tablet-mockup-bg {background-color: #8bdef3 !important;}












