/* Template: FlatBook | Author: eriktailor | Version: 1.0 */
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* # TURQUISE COLOR SKIN */
/*--------------------------------------------------------*/
p a, p a:visited {color: #5bc1af;}

h2 {color: #5bc1af;}

.menu li a:hover {color: #5bc1af;}

.btn {background: #5bc1af;}

.btn:hover {background: #47a796;}

.btn.grey {color: #5bc1af;}

.btn.grey:hover {color: #5bc1af;}

.section-title {color: #5bc1af;}

.section-title-bullet {background: #5bc1af;}

#header {background: #5bc1af;}

.feature h2 {color: #5bc1af;}

.price-table h3 {background: #5bc1af;}

.contact-bar {background: #5bc1af;}

.social-icons i {color: #5bc1af;}

.social-icons i:hover {color: #419a8a;}

.slimScrollBar {background: #5bc1af !important;}

.tablet-mockup-bg {background-color: #5bc1af !important;}












