/* Template: FlatBook | Author: eriktailor | Version: 1.0 */
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* # VIOLET COLOR SKIN */
/*--------------------------------------------------------*/
p a, p a:visited {color: #b372c4;}

h2 {color: #b372c4;}

.menu li a:hover {color: #b372c4;}

.btn {background: #b372c4;}

.btn:hover {background: #9e5baf;}

.btn.grey {color: #b372c4;}

.btn.grey:hover {color: #b372c4;}

.section-title {color: #b372c4;}

.section-title-bullet {background: #b372c4;}

#header {background: #b372c4;}

.feature h2 {color: #b372c4;}

.price-table h3 {background: #b372c4;}

.contact-bar {background: #b372c4;}

.social-icons i {color: #b372c4;}

.social-icons i:hover {color: #8d4a9e;}

.slimScrollBar {background: #b372c4 !important;}

.tablet-mockup-bg {background-color: #b372c4 !important;}












