/* Template: FlatBook | Author: eriktailor | Version: 1.0 */
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* # YELLOW COLOR SKIN */
/*--------------------------------------------------------*/
p a, p a:visited {color: #e8a230;}

h2 {color: #e8a230;}

.menu li a:hover {color: #e8a230;}

.btn {background: #e8a230;}

.btn:hover {background: #d28c1a;}

.btn.grey {color: #e8a230;}

.btn.grey:hover {color: #e8a230;}

.section-title {color: #e8a230;}

.section-title-bullet {background: #e8a230;}

#header {background: #e8a230;}

.feature h2 {color: #e8a230;}

.price-table h3 {background: #e8a230;}

.contact-bar {background: #e8a230;}

.social-icons i {color: #e8a230;}

.social-icons i:hover {color: #bd7b10;}

.slimScrollBar {background: #e8a230 !important;}

.tablet-mockup-bg {background-color: #e8a230 !important;}












